In [2]:
import pandas as pd
import numpy as np

### 97 - 22 1달 평균 1인 쌀 소비량 타겟으로 하기

In [3]:
rice_consumption = pd.read_csv('./Data/rice_consumption.csv',encoding='euc-kr',header=1)
rice_consumption.head()

  용도별       시점    양곡계      쌀
0   계  1997.11  307.8  277.8
1   계  1997.12  305.7  275.3
2   계  1998.01  322.9  285.7
3   계  1998.02  317.5  266.7
4   계  1998.03  311.1  273.1

In [4]:
rice_consumption['시점'] = rice_consumption['시점'].astype(np.str0).str.replace('.','/')
rice_consumption.head()

/var/folders/vf/8xq5853s7zdffbbxdf_fk_xc0000gn/T/ipykernel_1393/2950368796.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rice_consumption['시점'] = rice_consumption['시점'].astype(np.str0).str.replace('.','/')

  용도별       시점    양곡계      쌀
0   계  1997/11  307.8  277.8
1   계  1997/12  305.7  275.3
2   계  1998/01  322.9  285.7
3   계  1998/02  317.5  266.7
4   계  1998/03  311.1  273.1

In [5]:
rice_consumption['시점'] = pd.to_datetime(rice_consumption['시점'],format='%Y/%m')

In [6]:
rice_consumption['년도']=rice_consumption['시점'].dt.year
rice_consumption['월']=rice_consumption['시점'].dt.month
rice_consumption.head()

  용도별         시점    양곡계      쌀    년도   월
0   계 1997-11-01  307.8  277.8  1997  11
1   계 1997-12-01  305.7  275.3  1997  12
2   계 1998-01-01  322.9  285.7  1998   1
3   계 1998-02-01  317.5  266.7  1998   2
4   계 1998-03-01  311.1  273.1  1998   3

In [7]:
rice = pd.DataFrame(
    {
        '날짜':rice_consumption['시점'],
        '년도':rice_consumption['년도'],
        '월':rice_consumption['월'],
        '소비량':rice_consumption['쌀']
    }
)

rice.head()

          날짜    년도   월    소비량
0 1997-11-01  1997  11  277.8
1 1997-12-01  1997  12  275.3
2 1998-01-01  1998   1  285.7
3 1998-02-01  1998   2  266.7
4 1998-03-01  1998   3  273.1

In [10]:
rice = pd.pivot_table(rice,index=['날짜'],aggfunc=np.mean)

### 만든 데이터 프레임 저장하기

In [13]:
rice.to_csv('./Data/rice_target.csv')